<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @topic.user_id %>
</p>

<p>
  <strong>Company link:</strong>
  <%= @topic.company_link %>
</p>

<p>
  <strong>Content:</strong>
  <%= @topic.content %>
</p>

<p>
  <strong>String:</strong>
  <%= @topic.String %>
</p>

<p>
  <strong>Title:</strong>
  <%= @topic.title %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @topic.tag %>
</p>

<p>
  <strong>String:</strong>
  <%= @topic.String %>
</p>

<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>
