<nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <%= link_to("",welcome_path, class: "navbar-brand home-navbar-brand")%>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to(welcome_path, class: "nav-link") do%>
          首页 <span class="sr-only">(current)</span>
        <% end %>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">活动区</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">推广区</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <%- if user_signed_in? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">个人中心</a>
          <div class="dropdown-menu">
            <%= link_to("个人资料", "#", class:"dropdown-item")%>
            <%= link_to("推广活动记录", "#", class:"dropdown-item")%>
            <%= link_to("推广产品记录", "#", class:"dropdown-item")%>
            <%= link_to('退出',
                  { controller: 'devise/sessions', action: 'destroy'},
                  { :method => :DELETE, :class => 'dropdown-item'}
                ) %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%=link_to('登录', new_user_session_path, class: 'nav-link')%>
        </li>
        <li class="nav-item">
          <%=link_to('注册', new_user_registration_path, class: 'nav-link')%>
        </li>
      <% end -%>
    </ul>
  </div>
</nav>